.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: stretch; */
}
.Modal {
    top:50%;
    right:50%;
    width: 50%;
    height: 50%;
    transform: translate(50%, -50%);
  
    overflow-y: auto;
    position: absolute;
  
     background-color: white;
     display: flex;
    flex-direction: column;
    align-items: center;
  
  
}

